.hidden {
	display: none;
}

/* - - - */

h1 {
	text-align: center;
}

#locales {
	border: 1px solid #000000;
	margin: 1rem;
	padding: 1rem;
}

#locales > p {
	margin-top: 0;
}

#locales > div {
	display: flex;
}

#locales > div > span {
	background-color: #EEEEEE;
	margin-right: 1rem;
	padding: .5rem;
	text-align: center;
}

#buttons {
	margin: 1rem;
}

#message {
	background: #EEEEEE;
	margin: 1rem;
	padding: .5rem;
}

#message > span {
	display: block;
	padding: .5rem 0;
	white-space: pre;
}

.diff-key {
	font-weight: bolder;
}